In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
sept_data_to_load = "Resources/JC-201809-citibike-tripdata.csv"
oct_data_to_load = "Resources/JC-201810-citibike-tripdata.csv"
nov_data_to_load = "Resources/JC-201811-citibike-tripdata.csv"


# Read School and Student Data File and store into Pandas Data Frames
sept_data = pd.read_csv(sept_data_to_load)
oct_data = pd.read_csv(oct_data_to_load)
nov_data = pd.read_csv(nov_data_to_load)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,284,2018-09-01 01:48:22.0320,2018-09-01 01:53:06.9130,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26303,Subscriber,1984,1
1,370,2018-09-01 01:48:22.5010,2018-09-01 01:54:32.9270,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29667,Subscriber,1984,1
2,1181,2018-09-01 09:37:04.3070,2018-09-01 09:56:45.3280,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26307,Customer,1994,1
3,383,2018-09-01 09:44:46.0030,2018-09-01 09:51:09.9230,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,29261,Subscriber,1987,1
4,377,2018-09-01 09:44:46.1850,2018-09-01 09:51:03.6330,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,33665,Subscriber,1985,1

In [9]:
sept_data.count

<bound method DataFrame.count of        tripduration                 starttime                  stoptime  \
0               284  2018-09-01 01:48:22.0320  2018-09-01 01:53:06.9130
1               370  2018-09-01 01:48:22.5010  2018-09-01 01:54:32.9270
2              1181  2018-09-01 09:37:04.3070  2018-09-01 09:56:45.3280
3               383  2018-09-01 09:44:46.0030  2018-09-01 09:51:09.9230
4               377  2018-09-01 09:44:46.1850  2018-09-01 09:51:03.6330
...             ...                       ...                       ...
39017           985  2018-09-29 09:02:31.3090  2018-09-29 09:18:56.6570
39018          1595  2018-09-30 09:36:44.8650  2018-09-30 10:03:19.9750
39019          1996  2018-09-30 11:15:46.8100  2018-09-30 11:49:03.1200
39020          1803  2018-09-30 11:16:37.0760  2018-09-30 11:46:40.6460
39021           779  2018-09-30 13:49:47.3930  2018-09-30 14:02:46.7200

       start station id start station name  start station latitude  \
0                  3183     Exchange Place               40.716247
1                  3183     Exchange Place               40.716247
2                  3183     Exchange Place               40.716247
3                  3183     Exchange Place               40.716247
4                  3183     Exchange Place               40.716247
...                 ...                ...                     ...
39017              3694     Jackson Square               40.711130
39018              3694     Jackson Square               40.711130
39019              3694     Jackson Square               40.711130
39020              3694     Jackson Square               40.711130
39021              3694     Jackson Square               40.711130

       start station longitude  end station id    end station name  \
0                   -74.033459            3267        Morris Canal
1                   -74.033459            3214    Essex Light Rail
2                   -74.033459            3192  Liberty Light Rail
3                   -74.033459            3213      Van Vorst Park
4                   -74.033459            3213      Van Vorst Park
...                        ...             ...                 ...
39017               -74.078900            3211          Newark Ave
39018               -74.078900            3183      Exchange Place
39019               -74.078900            3186       Grove St PATH
39020               -74.078900            3273        Manila & 1st
39021               -74.078900            3192  Liberty Light Rail

       end station latitude  end station longitude  bikeid    usertype  \
0                 40.712419             -74.038526   26303  Subscriber
1                 40.712774             -74.036486   29667  Subscriber
2                 40.711242             -74.055701   26307    Customer
3                 40.718489             -74.047727   29261  Subscriber
4                 40.718489             -74.047727   33665  Subscriber
...                     ...                    ...     ...         ...
39017             40.721525             -74.046305   29492  Subscriber
39018             40.716247             -74.033459   29252  Subscriber
39019             40.719586             -74.043117   29122    Customer
39020             40.721651             -74.042884   29251    Customer
39021             40.711242             -74.055701   29653    Customer

       birth year  gender
0            1984       1
1            1984       1
2            1994       1
3            1987       1
4            1985       1
...           ...     ...
39017        1991       2
39018        1987       1
39019        1987       2
39020        1974       1
39021        1969       0

[39022 rows x 15 columns]>

In [10]:
oct_data.count

<bound method DataFrame.count of        tripduration                 starttime                  stoptime  \
0               152  2018-10-01 07:44:41.4170  2018-10-01 07:47:14.2960
1               122  2018-10-01 08:50:05.4340  2018-10-01 08:52:08.2250
2               211  2018-10-01 09:03:17.0640  2018-10-01 09:06:48.0940
3               342  2018-10-01 10:13:07.0090  2018-10-01 10:18:49.8960
4              2976  2018-10-01 10:45:14.2800  2018-10-01 11:34:51.2610
...             ...                       ...                       ...
39133          1118  2018-10-31 11:30:53.7070  2018-10-31 11:49:32.4850
39134          1242  2018-10-31 12:20:41.6990  2018-10-31 12:41:24.4270
39135          1188  2018-10-31 12:21:36.2790  2018-10-31 12:41:24.3540
39136           983  2018-10-31 14:27:59.9590  2018-10-31 14:44:23.2020
39137           544  2018-10-31 15:37:41.3760  2018-10-31 15:46:45.5090

       start station id start station name  start station latitude  \
0                  3183     Exchange Place               40.716247
1                  3183     Exchange Place               40.716247
2                  3183     Exchange Place               40.716247
3                  3183     Exchange Place               40.716247
4                  3183     Exchange Place               40.716247
...                 ...                ...                     ...
39133              3694     Jackson Square               40.711130
39134              3694     Jackson Square               40.711130
39135              3694     Jackson Square               40.711130
39136              3694     Jackson Square               40.711130
39137              3694     Jackson Square               40.711130

       start station longitude  end station id         end station name  \
0                   -74.033459            3639               Harborside
1                   -74.033459            3214         Essex Light Rail
2                   -74.033459            3187                Warren St
3                   -74.033459            3202             Newport PATH
4                   -74.033459            3183           Exchange Place
...                        ...             ...                      ...
39133               -74.078900            3185                City Hall
39134               -74.078900            3185                City Hall
39135               -74.078900            3185                City Hall
39136               -74.078900            3277  Communipaw & Berry Lane
39137               -74.078900            3268           Lafayette Park

       end station latitude  end station longitude  bikeid    usertype  \
0                 40.719252             -74.034234   15302  Subscriber
1                 40.712774             -74.036486   29654  Subscriber
2                 40.721124             -74.038051   33621  Subscriber
3                 40.727224             -74.033759   26266  Subscriber
4                 40.716247             -74.033459   27083    Customer
...                     ...                    ...     ...         ...
39133             40.717733             -74.043845   26219  Subscriber
39134             40.717733             -74.043845   26288    Customer
39135             40.717733             -74.043845   29591    Customer
39136             40.714358             -74.066611   32831  Subscriber
39137             40.713464             -74.062859   29490  Subscriber

       birth year  gender
0            1971       2
1            1973       1
2            1958       1
3            1982       1
4            1969       0
...           ...     ...
39133        1991       1
39134        1986       1
39135        1977       1
39136        1988       1
39137        1991       2

[39138 rows x 15 columns]>

In [11]:
nov_data.count

<bound method DataFrame.count of        tripduration                 starttime                  stoptime  \
0              1188  2018-11-01 06:32:27.5190  2018-11-01 06:52:15.9140
1               278  2018-11-01 07:14:31.8680  2018-11-01 07:19:10.2610
2               115  2018-11-01 07:33:17.1920  2018-11-01 07:35:12.2830
3               155  2018-11-01 08:20:10.9320  2018-11-01 08:22:46.7050
4                82  2018-11-01 08:35:02.7850  2018-11-01 08:36:25.1840
...             ...                       ...                       ...
24905           734  2018-11-28 10:46:12.6640  2018-11-28 10:58:27.0750
24906           312  2018-11-28 19:52:40.1140  2018-11-28 19:57:52.9270
24907           914  2018-11-29 10:20:57.7240  2018-11-29 10:36:12.0420
24908          2392  2018-11-29 17:28:24.1590  2018-11-29 18:08:16.8720
24909           637  2018-11-30 12:00:10.4100  2018-11-30 12:10:48.0210

       start station id start station name  start station latitude  \
0                  3183     Exchange Place               40.716247
1                  3183     Exchange Place               40.716247
2                  3183     Exchange Place               40.716247
3                  3183     Exchange Place               40.716247
4                  3183     Exchange Place               40.716247
...                 ...                ...                     ...
24905              3694     Jackson Square               40.711130
24906              3694     Jackson Square               40.711130
24907              3694     Jackson Square               40.711130
24908              3694     Jackson Square               40.711130
24909              3694     Jackson Square               40.711130

       start station longitude  end station id end station name  \
0                   -74.033459            3199     Newport Pkwy
1                   -74.033459            3202     Newport PATH
2                   -74.033459            3184      Paulus Hook
3                   -74.033459            3681         Grand St
4                   -74.033459            3184      Paulus Hook
...                        ...             ...              ...
24905               -74.078900            3195          Sip Ave
24906               -74.078900            3280      Astor Place
24907               -74.078900            3206          Hilltop
24908               -74.078900            3195          Sip Ave
24909               -74.078900            3195          Sip Ave

       end station latitude  end station longitude  bikeid    usertype  \
0                 40.728745             -74.032108   33662    Customer
1                 40.727224             -74.033759   29254  Subscriber
2                 40.714145             -74.033552   33607  Subscriber
3                 40.715178             -74.037683   29222  Subscriber
4                 40.714145             -74.033552   29678  Subscriber
...                     ...                    ...     ...         ...
24905             40.730743             -74.063784   26255  Subscriber
24906             40.719282             -74.071262   29451  Subscriber
24907             40.731169             -74.057574   29610  Subscriber
24908             40.730743             -74.063784   29659  Subscriber
24909             40.730743             -74.063784   29536  Subscriber

       birth year  gender
0            1969       0
1            1963       1
2            1966       1
3            1975       2
4            1975       1
...           ...     ...
24905        1994       1
24906        1957       1
24907        1994       1
24908        1994       1
24909        1994       1

[24910 rows x 15 columns]>

In [15]:
# Combine the data into a single dataset


first_quarter=pd.concat([sept_data, oct_data, nov_data], keys=['sept_data', 'oct_data', 'nov_data'])
first_quarter.head()

             tripduration                 starttime                  stoptime  \
sept_data 0           284  2018-09-01 01:48:22.0320  2018-09-01 01:53:06.9130
          1           370  2018-09-01 01:48:22.5010  2018-09-01 01:54:32.9270
          2          1181  2018-09-01 09:37:04.3070  2018-09-01 09:56:45.3280
          3           383  2018-09-01 09:44:46.0030  2018-09-01 09:51:09.9230
          4           377  2018-09-01 09:44:46.1850  2018-09-01 09:51:03.6330

             start station id start station name  start station latitude  \
sept_data 0              3183     Exchange Place               40.716247
          1              3183     Exchange Place               40.716247
          2              3183     Exchange Place               40.716247
          3              3183     Exchange Place               40.716247
          4              3183     Exchange Place               40.716247

             start station longitude  end station id    end station name  \
sept_data 0               -74.033459            3267        Morris Canal
          1               -74.033459            3214    Essex Light Rail
          2               -74.033459            3192  Liberty Light Rail
          3               -74.033459            3213      Van Vorst Park
          4               -74.033459            3213      Van Vorst Park

             end station latitude  end station longitude  bikeid    usertype  \
sept_data 0             40.712419             -74.038526   26303  Subscriber
          1             40.712774             -74.036486   29667  Subscriber
          2             40.711242             -74.055701   26307    Customer
          3             40.718489             -74.047727   29261  Subscriber
          4             40.718489             -74.047727   33665  Subscriber

             birth year  gender
sept_data 0        1984       1
          1        1984       1
          2        1994       1
          3        1987       1
          4        1985       1

In [19]:
first_quarter.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [23]:
first_quarter.to_csv('/QuarterData.csv')

PermissionError: [Errno 13] Permission denied: '/QuarterData.csv'

In [ ]:
wrestled_over_hundred = wrestled_over_hundred.set_index("Start_Station")

wrestled_over_hundred.head()